<div class="ctn-main">
  <div class="ctn-config">
    <p>Listado de alumnos</p>
    <section class="buttons">
      <button (click)="viewTable()">Mostrar</button>
      <button (click)="dropTable()">Ocultar</button>
    </section>
  </div>
  <main class="lists" *ngIf="showTable" [ngClass]="changeBackground ? 'simple' : 'colourfull'">
    <table>
      <tr>
        <th>N°</th>
        <th>Nombre</th>
        <th>Edad</th>
      </tr>
      <tr *ngFor="let alumno of listOfStudents; let i = index">
        <td>{{i + 1}}</td>
        <td *ngIf="alumno.age < 30; else bigger">{{alumno.name | lowercase}}</td>
        <ng-template #bigger>
          <td>{{alumno.name | uppercase}}</td>
        </ng-template>
        <td [ngClass]="alumno.age > 30 ? 'bolder-red' : 'bolder-black'">{{alumno.age}}</td>
      </tr>
    </table>
    <button (click)="changeColor()">Cambiar color de fondo</button>
  </main>
</div>



