.ctn-main{
  padding: 2rem;
  background-color: rgb(232, 238, 238);
  height: calc(100vh - 101px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.lists{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.simple{
  background-color: white;
}

.colourfull{
  background: linear-gradient(0deg, rgba(34,193,195,0.5802696078431373) 0%, rgba(253,187,45,0.29735644257703087) 100%);
}

.ctn-config{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons{
  display: flex;
  justify-content: center;
}

button {
  margin: 2rem 1rem 2rem 1rem;
  padding: 0.6rem;
  border-radius: 8px;
  border: none;
  background-color: rgb(207, 228, 228);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

th {
  width: 150px;
  height: 40px;
}

td {
  width: 180px;
  height: 30px;
  text-align: center;
}

.bolder-red{
  font-weight: 600;
  color: red;
}

.bolder-black{
  font-weight: 600;
}
